<md-sidenav id="sidenav" class="md-sidenav-left md-theme-light-green md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
    <md-toolbar class="md-toolbar-tools"></md-toolbar>
    <md-content ng-controller="navCtrl" flex>
        <md-list>
            <md-item ng-repeat="item in menuItems">
                <md-item-content ng-cloak>
                    <div class="md-tile-content menu-link" md-ink-ripple="#bbb">{{item}}</div>
            </md-item>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>